body {
	margin: 0;
	width: 100vw;
	height: 100%;
	background-color: #242424;

	font-family: 'American Typewriter', sans-serif;
	font-weight: 100;
}

.menu {
	position: relative;
	width: 100%;
	height: 68px;
	z-index: 10;

	box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.25), -5px 3px 3px rgba(0, 0, 0, 0.25);
	/* box-shadow: 5px 1px 1px rgba(91, 91, 91, 0.25), -5px 5px 5px rgba(29155, 91, 91, 0.25); */

	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 68px;
}

.menu--clickable {
	background-color: #960500;

	text-decoration: none;

	grid-column: 1 / 2;
	grid-row: 1 / 2;

	display: grid;
	grid-template-columns: 68px 1fr;
	grid-template-rows: 68px;
}

.menu--hovered {
	background-color: #9c3835;
}

.menu__logo {
	width: 68px;
	height: 68px;

	pointer-events: none;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.clapperboard {
	width: 68px;
	height: 68px;
}

.clapperboard__top {
	transform-origin: bottom left;
	transform: translate(20px, 2px) rotate(-30deg);
}

.clapperboard__item--white {
	stroke: white;
	fill: white;
}

.clapperboard__item--red {
	stroke: #960500;
	fill: #960500;
}

.clapperboard__item--hovered {
	stroke: #9c3835;
	fill: #9c3835;
}

.menu__title {
	color: white;

	pointer-events: none;

	font-family: 'Lobster', cursive;

	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.menu__title h1 {
	margin: 14px 0 14px 0;
}

.menu--unauthenticated,
.menu--authenticated {
	background-color: #960500;

	grid-column: 2 / 3;
	grid-row: 1 / 2;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.menu__section {
	max-height: 68px;
	margin: 0;
	padding: 0 10px;
	padding-top: 20px;
	color: white;

	font-family: 'American Typewriter', sans-serif;
	font-size: 1.25em;
	font-weight: 400;
	text-decoration: none;
}

.selected {
	background-color: #b40802;
}

.menu__section:hover {
	background-color: white;
	color: #960500;
	text-decoration: none;
}

.menu__link {
	height: 40px;
	margin: 8px 10px 8px 12px;
	padding: 5px;
	color: white;
	/* border: 1px solid white; */
	border-radius: 3px;

	font-family: 'Lobster', cursive;
	font-size: 1.7em;
	text-decoration: none;
}

.menu__link:hover {
	background-color: white;
	color: #960500;
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

.curtains {
	position: relative;
	width: 100vw;
	height: 70vh;
	background-color: #1b1b1b;
	overflow: hidden;
	z-index: 1;
}

.curtains__sliding-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 6000px;
	height: 70vh;
	box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.5);
	opacity: 0.5;

	animation: slideBackground 60s linear infinite;
	animation-delay: 1s;

	display: flex;
}

.curtains__movie-poster {
	width: 100/3vw;
	height: 70vh;
}

.curtains__curtain {
	position: absolute;
	height: 70vh;
	width: 50%;
	background: linear-gradient(to right, #f70f06 0% 60%, #fe8681 60% 70%, #5e0300 70% 100%);
	background-size: 10%;
	overflow: hidden;
	z-index: 30;

	animation-delay: 1s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

.curtain--left {
	top: 0px;
	left: 0px;

	animation-name: slideoutLeft;
}

.curtain--right {
	top: 0px;
	right: 0px;

	animation-name: slideoutRight;
}

.curtains__darkness {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70vh;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 1;
	z-index: 50;

	animation-duration: 4s;
	animation-name: fadeout;
	animation-fill-mode: forwards;

	pointer-events: none;
}

.curtains__info {
	position: relative;
	width: 40vw;
	height: 40vh;
	margin: 20vh 30vw 0 30vw;
	color: white;
	z-index: 20;

	text-align: center;
}

.curtains__title {
	margin-bottom: 5px;

	font-family: 'Lobster', cursive;
	font-size: 4em;
	text-shadow: 3px 3px 3px black;
}

.curtains__subtitle {
	font-family: 'American Typewriter', sans-serif;
	font-weight: 100;
	text-shadow: 3px 3px 3px black;
}

.curtains__signup {
	background-color: #960500;
	padding: 5px;
	color: white;
	border-radius: 3px;
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);

	font-family: 'Lobster', cursive;
	font-size: 2em;
	/* text-shadow: 3px 3px 3px black; */
	text-decoration: none;
}

.curtains__signup:hover {
	background-color: white;
	color: #960500;
}

.login {
	margin-top: auto;
	margin-left: 20px;
	color: white;
}

.login h1 {
	font-weight: 200;
}

.login form {
	margin-left: 20px;
}

.login input {
	height: 2em;
	padding: 5px;
	background-color: grey;
	border: none;
	border-radius: 3px;

	font-family: 'American Typewriter', sans-serif;
	font-size: 1.25em;
}

.login__username input,
.login__password input {
	box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

#login__submit {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100px;

	cursor: pointer;

	font-size: 1.5em;
}

#login__submit:hover {
	background-color: #960500;
	color: white;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.login__help {
	margin-left: 20px;

	display: flex;
}

.login__help a {
	margin-right: 20px;
	color: white;
	text-decoration-color: white;
}

.group-queue,
.seen-movies {
	height: 386px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 25px;
	color: white;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 46px 40px 300px;
}

.group-queue__label,
.seen-movies__label {
	position: relative;
	margin: 2px 0 4px 10px;
	color: white;

	font-size: 2em;
	font-weight: 400;
	text-decoration: none;
}

.group-queue__label:hover,
.seen-movies__label:hover {
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.badge {
	position: absolute;
	left: 200px;
	top: 0;
	width: 20px;
	height: 20px;
}

.badge__circle {
	fill: red;
	stroke: red;
}

.badge__text {
	fill: white;

	font-size: 14px;
}

.group-queue__help-text,
.seen-movies__help-text {
	color: rgb(163, 163, 163);
	margin: 10px 0 11px 15px;

	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.5px;

	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.movie-list {
	height: 280px;
	width: calc(100% - 15px);
	margin: 10px 0 10px 15px;
	background-color: rgb(124, 124, 124);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: inset 1px 0px 5px rgba(0, 0, 0, 0.5);
	overflow-x: scroll;

	display: flex;
}

.movie-list__movie {
	height: 260px;
	width: 160px;
	margin: 10px 10px 0 10px;
	background-size: 160px 230px;

	text-decoration-color: black;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 230px 30px;
}

.movie-list__movie--empty {
	margin: auto;
	color: white;

	font-size: 2em;
	font-weight: 200;
	text-align: center;
}

.movie-list__movie--empty a {
	color: black;
	font-size: 0.7em;
}

.movie-list__movie--empty a:hover {
	color: rgba(0, 0, 0, 0.5);
}

.movie-list__poster {
	width: 160px;
	height: 230px;
	margin: 0;
	background-size: 160px 230px;
	border-radius: 3px;
	pointer-events: none;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.movie-list__title {
	width: 160px;
	height: 25px;
	margin: 2.5px 0;
	color: black;

	font-weight: 400;
	font-size: 1.25em;
	text-align: center;
}

.movie-list__movie:hover > .movie-list__poster {
	/* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); */
	/*TODO: Add hover option*/
}

.movie-list__movie:hover > .movie-list__title {
	/* text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); */
	/*TODO: Add hover option*/
}

.rating {
	display: grid;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: calc(100vh - 68px);
}

.rating__movie,
.detail__poster {
	height: 0;
	margin-left: 15%;
	padding-top: 100%;

	background-size: contain;
	background-repeat: no-repeat;

	display: inline-block;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.rate-form {
	width: 42vw;
	margin: 20% 4vw;

	display: flex;
	flex-direction: column;

	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.rate-form__title {
	color: white;

	font-weight: 200;
	text-align: center;
}

.rate-form__field_wrapper {
	margin: 20px 0;

	/* text-align: center; */

	display: flex;
	flex-direction: column;
}

.rate-form__field_wrapper--hidden {
	display: none;
}

#rate-form__rating input {
	width: 40%;
	height: 40px;
	margin: 10px 0;
	background-color: #858585;
	color: white;
	border: none;
	border-radius: 3px;

	font-size: 30px;
	font-family: 'Lobster', cursive;

	text-align: center;
}

#rate-form__rating ul {
	color: white;
}

#rate-form__comment textarea {
	height: 90px;
	margin: 10px 0;
	padding: 2px;
	background-color: #858585;
	color: white;
	border: none;
	border-radius: 3px;

	font-weight: 200;

	resize: none;
}

.rate-form__field_wrapper input:focus,
.rate-form__field_wrapper textarea:focus {
	border: none;
}

.rate-form__field_wrapper label {
	color: white;

	font-size: 24px;
}

.rate-form__submit {
	width: 30%;
	height: 50px;
	margin: 10px 0;
	background-color: #960500;
	color: white;
	border: none;
	border-radius: 3px;

	font-family: 'Lobster', cursive;
	font-size: 30px;
}

.rate-form__submit:hover {
	background-color: white;
	color: #960500;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

	cursor: pointer;
}

/* Gets rids of arrow buttons in number input */
input[type='number'] {
	-moz-appearance: textfield;
}

/* Gets rids of arrow buttons in number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.search-form {
	width: 90%;
	height: 50px;
	margin: 10px 5% 0 5%;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}

#search-form__query {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 50px;
	grid-template-rows: 50px;
}

.search-form__submit {
	padding: 0;
	border: none;

	cursor: pointer;

	grid-column: 2 / 3;
	grid-row: 1 / 2;

	background-color: #242424;
}

.search-icon {
	width: 50px;
	height: 50px;
}

#search-form__query input {
	width: calc(100% - 15px);
	height: 50px;
	padding-left: 15px;
	background-color: #242424;
	color: white;
	border: none;

	font-size: 1.3em;
	font-family: 'American Typewriter', sans-serif;
	letter-spacing: 1px;
	text-align: center;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

#search-form__query input:focus {
	border: none;
}

.results-found {
	margin-left: 3vw;
	color: white;

	font-weight: 200;
}

.search-results,
.unrated-movies {
	width: 90vw;
	margin: 10px 5vw 50px 5vw;

	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.search-results__movie,
.unrated-movies__movie {
	height: 260px;
	width: calc(100% / 5);
	margin-top: 40px;
	background-size: 160px 230px;

	text-decoration-color: white;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 230px 30px;
}

.search-results__movie .movie-list__title,
.unrated-movies__movie .movie-list__title {
	color: white;
}

.search-results__movie:hover > .movie-list__title,
.unrated-movies__movie:hover > .movie-list__title {
	text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.pages {
	width: 200px;
	height: 50px;
	margin: 10px calc(50vw + 125px) 10px calc(50vw - 125px);

	display: grid;
	grid-template-columns: 50px 100px 50px;
}

.pages__page {
	width: 50px;
	height: 50px;
}

.pages__page svg {
	width: 50px;
	height: 50px;
}

.prev-page {
	grid-column: 1 / 2;
}

.pages__number {
	margin: auto;
	color: white;

	grid-column: 2 / 3;
}

.pages__number a {
	color: white;
}

.pages__page svg polyline {
	stroke: white;
}

.pages__page--deactivated {
	display: block;
	pointer-events: none;
}

.pages__page--deactivated svg polyline {
	stroke: grey;
}

.next-page {
	grid-column: 3 / 4;
}

.movies-unrated {
	margin-left: 3vw;
	color: white;

	font-weight: 200;
}

.detail {
	display: grid;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 1fr;
}

.detail__movie {
	width: 100%;
	margin: auto 0;
	color: white;

	text-align: center;

	display: flex;
	flex-direction: column;

	grid-column: 2 / 3;
}

.detail__title {
	margin: 20px 0 0 0;
	color: white;

	font-size: 2em;
	font-weight: 200;
	text-decoration-color: white;
}

.detail__subtitle {
	margin: 5px 0;

	font-weight: 200;
	font-size: 1em;
}

.detail__header {
	font-weight: 200;
	text-align: left;
}

.detail__plot {
	margin-left: 15px;

	text-align: left;
}

.user-rating {
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: grey;
	color: black;
	border-radius: 3px;

	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.user-rating p {
	margin: 0;
	padding: 3px 0;

	font-weight: 400;
}

.user-rating__user-rating {
	font-size: 3em;
	text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;

	grid-column: 1 / 2;
	grid-row: 1 / 4;
	align-self: center;
}

.user-rating__null {
	background-color: rgb(148, 148, 148);
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.user-rating__label {
	grid-column: 2 / 3;
}

.user-rating__imdb {
	grid-column: 3 / 4;
}

.user-rating__rt {
	grid-column: 4 / 5;
}

.user-rating__global {
	grid-column: 5 / 6;
}

.user-rating__rating {
	background-color: rgb(168, 168, 168);

	grid-row: 2 / 3;
}

.user-rating__delta {
	background-color: rgb(180, 180, 180);

	grid-row: 3 / 4;
}

.user-rating__site {
	background-color: rgb(148, 148, 148);

	grid-row: 1 / 2;
}

.user-rating__value {
	background-color: rgb(168, 168, 168);

	grid-row: 2 / 3;
}

.user-rating__diff {
	background-color: rgb(180, 180, 180);

	grid-row: 3 / 4;
}

.user-rating__diff--positive {
	color: green;
}

.user-rating__diff--negative {
	color: red;
}

.group-ratings {
	background-color: grey;
	border-radius: 3px;
	overflow-x: scroll;

	display: flex;
	flex-wrap: nowrap;
}

.member-rating {
	background-color: rgb(148, 148, 148);
	margin: 3px;
	color: black;

	font-weight: 400;
	text-align: center;

	display: grid;
	grid-template-columns: 80px;
	grid-template-rows: 1fr 2fr 1fr;
}

.member-rating__value {
	border-top: 1px solid #5a5a5a;
	border-bottom: 1px solid #5a5a5a;
	font-size: 2em;
	align-self: center;
}

.member-rating__value--label {
	align-self: center;
}

.member-labels {
	background-color: grey;
}

.member-rating p {
	margin: 3px;
	padding: 2px;
}

@keyframes slideoutLeft {
	from {
		left: 0px;
	}

	to {
		left: -50%;
	}
}

@keyframes slideoutRight {
	from {
		right: 0px;
	}

	to {
		right: -50%;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slideBackground {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-3443px, 0, 0);
	}
}
