{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="curtains">
  <div class="curtains__sliding-background" style="background: url('{% static 'img/movie-posters.webp' %}') repeat-x;"></div>
  <div class="curtains__info">
    <h1 class="curtains__title">Rate-A-Movie</h1>
    <h3 class="curtains__subtitle">Rate movies with your friends.</h3>
    <a href="{% url 'register' %}" class="curtains__signup">Start Rating Movies</a>
  </div>
  <div class="curtains__curtain curtain--left"></div>
  <div class="curtains__curtain curtain--right"></div>
  <div class="curtains__darkness"></div>
</div>
{% endblock content %}