{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="registration">
  <h1>Login</h1>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="registration__field">
      {{ form.username.errors }}
      <p>Username</p>
      {{ form.username }}
    </div>
    <div class="registration__field">
      {{ form.password.errors }}
      <p>Password</p>
      {{ form.password }}
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <input class="registration__submit"type="submit" value="Login">
  </form>
  <div class="registration__help">
    <a class="registration__reset" href="{% url 'password_reset' %}">Forgotten password?</a>
    <a href="{% url 'register' %}" class="registration__signup">Signup</a>
  </div>
</div>
{% endblock content %}