{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="registration">
  <h1>Reset Password</h1>
  {% if validlink %}
  <p>Please enter you new password:</p>
  <form action="." method="post">
    {% csrf_token %}
    <div class="registration__field">
      {{ form.new_password1.errors }}
      <p>New Password</p>
      {{ form.new_password1}}
    </div>
    <div class="registration__field">
      {{ form.new_password2.errors }}
      <p>Confirm Password</p>
      {{ form.new_password2}}
    </div>
    <input class="registration__submit" type="submit" value="Reset">
  </form>
  {% else %}
  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.</p>
  {% endif %}
</div>
{% endblock content %}