{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="registration">
  <h1>Reset Password</h1>
  <p>Enter your email address to obtain a new password.</p>
  <form action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="registration__field">
      {{ form.email.errors }}
      <p>Email</p>
      {{ form.email }}
    </div>
    <input class="registration__submit" type="submit" value="Reset">
  </form>
</div>
{% endblock content %}