{% extends "base.html" %}

{% block title %}Dashboard{% if movies_not_seen_by_user %} |
{{ movies_not_seen_by_user|length }}*{% endif %}{% endblock title %}


{% block content %}

<div class="group-queue">
  <a href="#" class="group-queue__label">
    Group Queue
    {% if movies_not_seen_by_user %}
    <svg class="badge">
      <circle class="badge__circle" cx="10" cy="10" r="10"></circle>
      {% if movies_not_seen_by_user|length > 10 %}
      <text class="badge__text" x="1" y="14">{{ movies_not_seen_by_user|length }}</text>
      {% else %}
      <text class="badge__text" x="5" y="14">{{ movies_not_seen_by_user|length }}</text>
      {% endif %}
    </svg>
    {% endif %}
  </a>
  {% if movies_not_seen_by_user %}
  <p class="group-queue__help-text">Please take the time to rate movies, that your friends have rated.</p>
  {% else %}
  <p class="group-queue__help-text">You are all caught up with movie ratings.</p>
  {% endif %}
  <div class="group-queue__movie-list movie-list">
    {% for movie in movies_not_seen_by_user %}
    <a href="{% url 'rate_movie' movie.imdb_id %}" class="movie-list__movie">
      <div class="movie-list__poster" style="background-image: url('{{ movie.poster_link }}')"></div>
      <p class="movie-list__title">{{ movie.title }}</p>
    </a>
    {% empty %}
    <div class="movie-list__movie--empty">
      <p>You have no movies to rate.</p>
    </div>
    {% endfor %}
  </div>
</div>

<div class="seen-movies">
  <a href="#" class="seen-movies__label">Movies You've Seen</a>
  <p class="seen-movies__help-text">View movies that you have rated.</p>
  <div class="seen-movies__movie-list movie-list">
    {% for movie in movies_seen_by_user %}
    <a href="{% url 'movie_detail' movie.imdb_id %}" class="movie-list__movie">
      <div class="movie-list__poster" style="background-image: url('{{ movie.poster_link }}')"></div>
      <p class="movie-list__title">{{ movie.title }}</p>
    </a>
    {% empty %}
    <div class="movie-list__movie--empty">
      <p>You have not rated any movies.</p>
      <a href="{% url 'search_movie' %}">Find a movie to rate.</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}