{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}


{% block content %}
<div class="stats">
  {% if best != None %}
    <div class="best stats__item"></div>
    <div class="worst stats__item"></div>
    <div class="accuracy stats__item"></div>
  {% else %}
    <div class="stats__no-movies">
      <h3>You have not rated any movies yet.</h3>
    </div>
  {% endif %}
  </div>

<h1>Movies Seen By User</h1>
{% for movie in movies_seen_by_user %}
<p>{{ movie.title }}</p>
{% empty %}
<p>No rated movies</p>
{% endfor %}

{% if has_group %}
<h1>Movies Seen By Your Group Members</h1>
{% for movie in movies_seen_by_others %}
<p>{{ movie.title }}</p>
{% empty %}
<p>You have not</p>
{% endfor %}
{% else %}
<h1>You are not part of a group</h1>
{% endif %}

<h1>Rated Movies</h1>
{% for movie in movies_seen_by_both %}
<p>{{ movie.title }}</p>
{% empty %}
<p>You have not rated any movies</p>
{% endfor %}

<h1>Unrated Movies</h1>
{% for movie in movies_not_seen_by_user %}
<p>{{ movie.title }}</p>
{% empty %}
<p>You have no unrated movies</p>
{% endfor %}
{% endblock content %}