{% extends "base.html" %}

{% block title %}Rate Movie{% endblock title %}

{% block content %}
<div class="rating">
  <div class="rating__movie" style="background-image: url({{ movie.poster_link }})"></div>
  <form class="rate_form" action="./{{ movie.imdb_id}}" method="post">
    <h1 class="rate_form__title">{{ movie.title }}</h1>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="rate_form__field_wrapper" id="rate_form__rating">
      {{ form.rating.errors}}
      <label for="{{ form.rating.id_for_label}}">Rating*</label>
      {{ form.rating }}
    </div>
    <div class="rate_form__field_wrapper" id="rate_form__comment">
      {{ form.comment.errors }}
      <label for="{{ form.comment.id_for_label }}">Comments</label>
      {{ form.comment }}
    </div>
    <div class="rate_form__field_wrapper rate_form__field_wrapper--hidden" id="rate_form__movie">
      {{ form.movie.errors }}
      {{ form.movie }}
    </div>
    <div class="rate_form__field_wrapper rate_form__field_wrapper--hidden" id="rate_form__user">
      {{ form.user.errors }}
      {{ form.user }}
    </div>
    <p style="color: white">* = required</p>
    <input class="rate_form__submit" type="submit" value="Rate">
  </form>
</div>
{% endblock content %}